* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input {
  display: block;
  padding-left: 28px;
  position: relative;
  z-index: 0;
  height: 34px;
  width: 95%;
  margin-bottom: 18px;
  font-size: 12px;
}

i {
  position: absolute;
  z-index: 1;
  margin: 3px 0px 0px 5px;
}

select {
  display: block;
  height: 34px;
  width: 95%;
  margin-bottom: 18px;
  font-size: 12px;
}

textarea {
  display: block;
  padding-left: 28px;
  width: 95%;
  height: 77px;
  margin-bottom: 18px;
  font-size: 12px;
  padding-top: 10px;
}

.fa-mobile-phone {
  display: block;
}

.container {
  border: 1px solid lightgrey;
  width: 535px;
  margin: 20px 0px 0px 30px;

  .sign-up {
    background: #5189C7;
    margin-top: 0px;
    height: 75px;
    font-size: 26px;
    color: white;
    padding: 4%;
  }

form {
  margin-left: 25px;
  margin-top: 35px;
}

}
.form-body {
  margin-bottom: 33px;
}
button {
  border: 1px solid #5189C7;
  background: #5189C7;
  color: white;
  font-size: 13px;
  height: 33px;
  width: 100px;
}

.submit-button {
  height: 76px;
  background: #CCDDEF;
  padding: 22px 0px 0px 20px;
}

.fa {
  padding: 8px;
  font-size: 11px;
  color: #9B9FA2;
}
